<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is prashanth,i am from Dharmavaram and now i am searching for the job</h1>
        <h2>If there any openings for the freshers means call for the below mentioned number or mail id</h2>
        <h3>mob no:6305575944</h3>
        <h3>email: prashanthrishideva107@gmail.com</h3>
        <a href="{% url 'prashu:response' %}">response</a>
    </center>
    
</body>
</html>