<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Which type of jobs you are looking for</h1>
        <li>
            <ul>IT</ul>
            <ul>Marketing</ul>
            <ul>Finance</ul>
            <ul>Non-It</ul>
        </li>
        <h2>PLease select the type of job from above mentioned list</h2>
        <a href="{% url 'rish:jangam' %}">send the response</a>
    </center>
</body>
</html>